@*@model Audit.Models.BM8*@
@{
    ViewBag.Title = "BM8";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}

<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>БМ-8. Төрийн аудитын газрын аудитор болон багийн залруулсан алдааны бүртгэл</h4>
    <div class="ml-auto pr-2">
        <a href="#" class="btn btn-sm btn-success btn-icon-split" onclick="exportFile('BM8', 'БМ-8. Төрийн аудитын газрын аудитор болон багийн залруулсан алдааны бүртгэл')">
            <span class="icon text-white-50">
                <i class="fas fa-file-excel"></i>
            </span>
            <span class="text">Excel</span>
        </a>
    </div>
</div>
<hr class="sidebar-divider">
<div class="table-responsive">
    <table id="BM8" class="table table-bordered datatable display" style="width:100%">
        <thead>
            <tr>
                <th rowspan="2" class="text-center">№</th>
                <th rowspan="2">Төрийн аудитын байгууллага</th>
                <th rowspan="2">Он</th>
                <th rowspan="2">Аудитын төрөл</th>
                <th rowspan="2">Аудитын код</th>
                <th rowspan="2">Аудитын нэр</th>
                <th rowspan="2">Төсөв захирагч</th>
                <th colspan="4">Залруулсан алдаа</th>
            </tr>
            <tr>
                <th>Алдааны утга</th>
                <th>Алдааны ангилал</th>
                <th>Тоо</th>
                <th>Дүн</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>

@section scripts{
    <script>
    $(document).ready(function () {
        bm8ListInit();
    });

    function bm8ListInit() {
        var table = $("#BM8").DataTable({
            "serverSide": true,
            "processing": true,
            "ajax": {
                url: "/api/service/bm8list",
                type: 'POST',
                data: function (data) {
                    return data;
                }
            },
            "columns": [
                    { "data": null,"sortable": false, "class":'text-center',
                    render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "OFFICE_ID", "name":"OFFICE_ID" },
                    { "data": "AUDIT_YEAR", "name":"AUDIT_YEAR","sortable": false },
                    { "data": "AUDIT_TYPE", "name":"AUDIT_TYPE" },
                    { "data": "AUDIT_TYPE", "name":"AUDIT_TYPE" },
                    { "data": "AUDIT_CODE", "name":"AUDIT_CODE" },
                    { "data": "AUDIT_NAME", "name":"AUDIT_NAME" },
                    { "data": "AUDIT_BUDGET_TYPE", "name":"AUDIT_BUDGET_TYPE" },
                    { "data": "CORRECTED_ERROR_DESC", "name": "CORRECTED_ERROR_DESC" },
                    { "data": "CORRECTED_ERROR_TYPE", "name": "CORRECTED_ERROR_TYPE", "sortable": false },
                    { "data": "CORRECTED_COUNT", "name": "CORRECTED_COUNT", "sortable": false },
                    { "data": "CORRECTED_AMOUNT", "name": "CORRECTED_AMOUNT", "sortable": false },
                    { "data": null, "sortable": false,
                        render: function (data, type, row, meta) {
                            return null;
                        }
                    },
                    { "data": null, "sortable": false,
                        render: function (data, type, row, meta) {
                            return null;
                        }
                    }                    
                ],
            "destroy": true,
            "scrollCollapse": true,
            "paging": true,
            "lengthMenu": [[10, 25, 50], [10, 25, 50],
            "filter": true,
            "info": true,
            "stateSave": false,
            "bAutoWidth": false,

            lengthChange: true,

        });

    }
    </script>
} 