@model System.Xml.Linq.XElement
@{
    ViewBag.Title = "CM1A";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}
<a href="@Url.Action("Index","Statistic")" class="btn btn-link">Буцах</a>
<h2>СМ-1А. Санхүүгийн тайлангийн аудитын ерөнхий мэдээлэл</h2>
<div class="table-responsive">
    <table class="table table-bordered datatable display" style="width:100%">
        <thead>
            <tr style="background-color:#D2D3D5;">
                <th rowspan="3" class="text-center">№</th>
                <th rowspan="3">Үзүүлэлт</th>
                <th colspan="3">Ажилласан</th>
                <th colspan="9">Байгууллагын тоо</th>
                <th colspan="5">Аудитын санал дүгнэлтийн төрөл</th>
                <th rowspan="2" colspan="2">Гэрээгээр хийлгэсэн</th>
                <th colspan="3">Хүлээн зөвшөөрүүлсэн үр өгөөж</th>
            </tr>
            <tr>
                <th rowspan="2">Хүн</th>
                <th rowspan="2">Өдөр</th>
                <th rowspan="2">Илүү цаг</th>
                <th rowspan="2">Хамрагдвал зохих</th>
                <th colspan="3">Төлөвлөсөн</th>
                <th rowspan="2">Хамрагдсан</th>
                <th colspan="4">Гүйцэтгэсэн</th>
                <th rowspan="2">Бүгд</th>
                <th colspan="4">Үүнээс</th>
                <th colspan="2">Санхүүгийн</th>
                <th rowspan="2">Санхүүгийн бус үр өгөөжийн тоо</th>
            </tr>
            <tr>
                <th>Бие дааж дүгнэлт гаргах</th>
                <th>Түүвэрт хамруулах</th>
                <th>Итгэл үзүүлэх</th>
                <th>Бие дааж дүгнэлт гаргасан</th>
                <th>Түүвэрт хамруулсан</th>
                <th>Итгэл үзүүлсэн</th>
                <th>Аудит хийгдээгүй</th>
                <th>Зөрчилгүй</th>
                <th>Хязгаарлалттай</th>
                <th>Сөрөг</th>
                <th>Санал дүгнэлт өгөхөөс татгалзсан</th>
                <th>Хараат бус аудитын компанийн тоо</th>
                <th>Аудитын үйлчилгээний төлбөр</th>
                <th>Тоо</th>
                <th>Дүн</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script>
        initDataTable();
    </script>
} 