@model System.Xml.Linq.XElement
@{
    ViewBag.Title = "CM2C";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}
<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>СМ-2В. Нийцлийн аудитаар илрүүлсэн алдаа, зөрчлийн хэрэгжилт</h4>
    <div class="ml-auto pr-2">
        <a href="#" class="btn btn-sm btn-success btn-icon-split" onclick="exportFile('CM2C', 'СМ-2В. Нийцлийн аудитаар илрүүлсэн алдаа, зөрчлийн хэрэгжилт')">
            <span class="icon text-white-50">
                <i class="fas fa-file-excel"></i>
            </span>
            <span class="text">Excel</span>
        </a>
    </div>
</div>
<hr class="sidebar-divider">
<div class="table-responsive">
    <table id="CM2C" class="table table-bordered datatable display" style="width:100%">
        <thead>
            <tr style="background-color:#D2D3D5;">
                <th rowspan="4" class="text-center">№</th>
                <th rowspan="4">Шийдвэрийн төрөл</th>
                <th rowspan="4">Ангилал</th>
                <th rowspan="3" colspan="2">Эхний үлдэгдэл</th>
                <th rowspan="3" colspan="2">Тайлант хугацаанд нэмэгдсэн</th>
                <th colspan="14">Биелэлт</th>
                <th colspan="2" rowspan="3">Статистик мэдээнээс хасагдсан</th>
                <th colspan="2" rowspan="3">Эцсийн үлдэгдэл</th>
                <th colspan="4" rowspan="2">Үүнээс</th>
            </tr>
            <tr>
                <th rowspan="2" colspan="2">Өмнөх оноос</th>
                <th rowspan="2" colspan="2">Тайлант оноос</th>
                <th rowspan="2" colspan="2">Хэрэгжилт бүгд</th>
                <th colspan="8">Төлбөр барагдуулалтын хэлбэр</th>
            </tr>
            <tr>
                <th colspan="2">Улсын төсөвт</th>
                <th colspan="2">Орон нутгын төсөвт</th>
                <th colspan="2">Тухайн байгууллагад</th>
                <th colspan="2">Бусад</th>
                <th colspan="2">Хугацаа болоогүй</th>
                <th colspan="2">Хугацаа хэтэрсэн</th>
            </tr>
            <tr>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script>
        initDataTable();
    </script>
} 