@model System.Xml.Linq.XElement
@{
    ViewBag.Title = "CM4C";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}
<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>СМ-4В. Нийцлийн аудитаар тайлант хугацаанд илрүүлсэн алдаа, зөрчлийн шийдвэрлэлт</h4>
    <div class="ml-auto pr-2">
        <a href="#" class="btn btn-sm btn-success btn-icon-split" onclick="exportFile('CM4C', 'СМ-4В. Нийцлийн аудитаар тайлант хугацаанд илрүүлсэн алдаа, зөрчлийн шийдвэрлэлт')">
            <span class="icon text-white-50">
                <i class="fas fa-file-excel"></i>
            </span>
            <span class="text">Excel</span>
        </a>
    </div>
</div>
<hr class="sidebar-divider">
<div class="table-responsive">
    <table id="CM4C" class="table table-bordered datatable display" style="width:100%">
        <thead>
            <tr style="background-color:#D2D3D5;">
                <th rowspan="3" class="text-center">№</th>
                <th rowspan="3">Үзүүлэлт</th>
                <th rowspan="2" colspan="2">Нийт зөрчил</th>
                <th colspan="12">Зөрчлийн шийдвэрлэлт</th>
            </tr>
            <tr>
                <th colspan="2">Тогтоосон төлбөрийн акт</th>
                <th colspan="2">Өгсөн албан шаардлага</th>
                <th colspan="2">Өгсөн зөвлөмж</th>
                <th colspan="2">Албан тушаалтанд хариуцлага тооцуулах санал</th>
                <th colspan="2">Хууль хяналтын байгууллагад шилжүүлсэн асуудал</th>
                <th colspan="2">Бусад</th>
            </tr>
            <tr>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script>
        initDataTable();
    </script>
} 