@model System.Xml.Linq.XElement
@{
    ViewBag.Title = "CM5";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}
<a href="@Url.Action("Index","Statistic")" class="btn btn-link">Буцах</a>
<h2>СМ-5. Тайлант хугацаанд аудитаар илрүүлсэн алдаа, зөрчлийн ангилал</h2>
<div class="table-responsive">
    <table class="table table-bordered datatable display" style="width:100%">
        <thead>
            <tr style="background-color:#D2D3D5;">
                <th rowspan="3" class="text-center">№</th>
                <th rowspan="3">Аудитын төрөл</th>
                <th rowspan="3">Үзүүлэлт</th>
                <th colspan="4">Орлого бүрдүүлэлттэй холбоотой</th>
                <th colspan="4">Төсвийн төлөвлөлт, гүйцэтгэлтэй холбоотой</th>
                <th colspan="2" rowspan="2">НББ, тайлагналттай холбоотой</th>
                <th colspan="2" rowspan="2">Арвилан хэмнэлт, үр ашиг, үр нөлөөтэй холбоотой</th>
                <th colspan="2" rowspan="2">Хууль, тогтоомжийн хэрэгжилттэй холбоотой</th>
                <th colspan="2" rowspan="2">Дотоод хяналт, хариуцлагатай холбоотой</th>
                <th colspan="2" rowspan="2">Худалдан авалттай холбоотой</th>
                <th colspan="2" rowspan="2">Зориулалт бус зарцуулалттай холбоотой</th>
                <th colspan="2" rowspan="2">Бусад</th>
                <th colspan="2" rowspan="2">Алдаа зөрчлийн нийт дүн</th>
            </tr>
            <tr>
                <th colspan="2">Улсын төсөв</th>
                <th colspan="2">Орон нутгын төсөв</th>
                <th colspan="2">Улсын төсөв</th>
                <th colspan="2">Орон нутгын төсөв</th>
            </tr>
            <tr>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script>
        initDataTable();
    </script>
} 