@model System.Xml.Linq.XElement
@{
    ViewBag.Title = "CM6";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}
<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>СМ-6. Төсвийн төсөлд өгсөн санал</h4>
    <div class="ml-auto pr-2">
        <a href="#" class="btn btn-sm btn-success btn-icon-split" onclick="exportFile('CM6', 'СМ-6. Төсвийн төсөлд өгсөн санал')">
            <span class="icon text-white-50">
                <i class="fas fa-file-excel"></i>
            </span>
            <span class="text">Excel</span>
        </a>
    </div>
</div>
<hr class="sidebar-divider">
<div class="table-responsive">
    <table id="CM6" class="table table-bordered datatable display" style="width:100%">
        <thead>
            <tr style="background-color:#D2D3D5;">
                <th rowspan="4" class="text-center">№</th>
                <th rowspan="4">Төсөв</th>
                <th colspan="6">Боловсруулсан санал</th>
                <th colspan="6">Хүлээн зөвшөөрөгдсөн санал</th>
            </tr>
            <tr>
                <th colspan="2">Бүгд</th>
                <th colspan="4">Үүнээс</th>
                <th colspan="2">Бүгд</th>
                <th colspan="4">Үүнээс</th>
            </tr>
            <tr>
                <th rowspan="2">Тоо</th>
                <th rowspan="2">Дүн</th>
                <th colspan="2">Орлого нэмэгдүүлэх</th>
                <th colspan="2">Зардал хорогдуулах</th>
                <th rowspan="2">Тоо</th>
                <th rowspan="2">Дүн</th>
                <th colspan="2">Орлого нэмэгдүүлэх</th>
                <th colspan="2">Зардал хорогдуулах</th>
            </tr>
            <tr>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script>
        initDataTable();
    </script>
} 