@model System.Xml.Linq.XElement
@{
    ViewBag.Title = "CM7";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}
<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>СМ-7. Дотоод аудит</h4>
</div>
<hr class="sidebar-divider">
<div class="table-responsive">
    <table class="table table-bordered datatable display" style="width:100%">
        <thead>
            <tr style="background-color:#D2D3D5;">
                <th rowspan="3" class="text-center">№</th>
                <th colspan="8">Дотоод аудитын мэдээлэл</th>
                <th rowspan="3">Шийдвэрлэсэн өргөдөл, гомдлын тоо</th>
                <th rowspan="3">Зөвлөмжийн хэрэгжээгүй шалтгааны тайлбар</th>
            </tr>
            <tr>
                <th rowspan="2">Дотоод аудитад хамрагдсан нэгжийн нэр</th>
                <th rowspan="2">Нийт зөвлөмжийн тоо</th>
                <th colspan="4">Үүнээс</th>
                <th colspan="2">Биелэлт</th>
            </tr>
            <tr>
                <th>Төсөв, түүний зарцуулалттай холбоотой</th>
                <th>Хүний нөөцтэй холбоотой</th>
                <th>Төлөвлөгөөт ажлын биелэлттэй холбоотой</th>
                <th>Бусад</th>
                <th>Хэрэгжсэн</th>
                <th>Хэрэгжээгүй</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script>
        initDataTable();
    </script>
} 