@model System.Xml.Linq.XElement
@{
    ViewBag.Title = "CM8";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}
<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>СМ-8. Дэмжих үйлчилгээ</h4>
    <div class="ml-auto pr-2">
        <a href="#" class="btn btn-sm btn-success btn-icon-split" onclick="exportFile('CM8', 'СМ-8. Дэмжих үйлчилгээ')">
            <span class="icon text-white-50">
                <i class="fas fa-file-excel"></i>
            </span>
            <span class="text">Excel</span>
        </a>
    </div>
</div>
<hr class="sidebar-divider">
<div class="table-responsive">
    <table id="CM8" class="table table-bordered datatable display" style="width:100%">
        <thead>
            <tr style="background-color:#D2D3D5;">
                <th rowspan="4" class="text-center">№</th>
                <th rowspan="2" colspan="2">Тайлант оны төсөв /сая.төг/</th>
                <th colspan="17">Хүний нөөц</th>
                <th colspan="11">Сургалт</th>
                <th colspan="5">Мэдээлэл, сурталчилгаа</th>
                <th rowspan="4">Цахим хуудасны хандалтын тоо</th>
                <th colspan="8">Хүлээн авсан мэдээлэл, хүсэлт, өргөдөл</th>
            </tr>
            <tr>
                <th rowspan="3">Батлагдсан орон тоо</th>
                <th rowspan="3">Ажиллагсад</th>
                <th colspan="15">Үүнээс</th>
                <th colspan="5">ҮАГ-аас зохион байгуулсан</th>
                <th colspan="2" rowspan="2">Гадаад сургалт</th>
                <th colspan="2" rowspan="2">Дотоод нэгжийн сургалт</th>
                <th colspan="2" rowspan="2">Бусад байгууллагаас зохион байгуулсан</th>
                <th rowspan="3">Бүгд</th>
                <th colspan="4">Үүнээс</th>
                <th rowspan="3">Бүгд</th>
                <th colspan="4">Үүнээс</th>
                <th colspan="3" rowspan="2">Шийдвэрлэлтийн байдал</th>
            </tr>
            <tr>
                <th rowspan="2">Батлагдсан төсөв</th>
                <th rowspan="2">Гүйцэтгэл</th>
                <th colspan="5">Албан тушаал</th>
                <th colspan="5">Боловсрол</th>
                <th rowspan="2">Мэргэшсэн нягтлан бодогч</th>
                <th colspan="4">Мэргэжил</th>
                <th rowspan="2">Сургалтын тоо</th>
                <th rowspan="2">Хамрагдсан хүн /Бүгд/</th>
                <th colspan="3">Үүнээс</th>
                <th rowspan="2">Хэвлэмэлээр болон хувилж өгсөн тайлан</th>
                <th rowspan="2">Хэвлэлийн мэдээ, нийтлэл</th>
                <th rowspan="2">Радио, телевизийн мэдээ, нэвтрүүлэг</th>
                <th rowspan="2">Бусад байгууллагад хийсэн мэдээлэл, сурталчилгаа</th>
                <th rowspan="2">ТАБ-ын үйл ажиллагаатай холбоотой</th>
                <th rowspan="2">ТАБ-ын ажиллагсадын мэргэжлийн ур чадвар, ёс зүйтэй холбоотой</th>
                <th rowspan="2">Аудит хийлгэх тухай</th>
                <th rowspan="2">Бусад</th>
            </tr>
            <tr>
                <th>Удирдах ажилтан</th>
                <th>Менежер</th>
                <th>Ахлах аудитор, ахлах шинжээч</th>
                <th>Аудитор, шинжээч</th>
                <th>Бусад</th>
                <th>Доктор</th>
                <th>Магистр</th>
                <th>Бакалавр</th>
                <th>Тусгай дунд</th>
                <th>Бүрэн дунд</th>
                <th>Нягтлан бодогч, эдийн засагч</th>
                <th>Хуульч</th>
                <th>Инженер</th>
                <th>Бусад</th>
                <th>Онлайн сургалтад хамрагдсан хүний тоо</th>
                <th>Орон нутагт зохион байгуулсан сургалтад оролцсон хүний тоо</th>
                <th>ҮАГ дээр зохион байгуулсан сургалтад хамрагдсан хүний тоо</th>
                <th>Сургалтын тоо</th>
                <th>Хүний тоо</th>
                <th>Сургалтын тоо</th>
                <th>Хүний тоо</th>
                <th>Сургалтын тоо</th>
                <th>Хүний тоо</th>
                <th>Хугацаанд нь шийдвэрлэсэн</th>
                <th>Хугацаа болоогүй</th>
                <th>Хугацаа хэтэрсэн</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script>
        initDataTable();
    </script>
} 