
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Статистик мэдээний жагсаалт</h2>
<ul class="list-unstyled">
    <li>
        Бүртгэлийн мэдээ
        <ul class="list-unstyled">
            <li>
                <a href="@Url.Action("BM1","Statistic")">БМ-1</a>
            </li>
        </ul>
    </li>
    <li>
        Нэгтгэл мэдээ
        <ul class="list-unstyled">
            <li>
                <a href="@Url.Action()">БМ-1</a>
            </li>
        </ul>
    </li>
    <li>
        Статистик мэдээ
        <ul class="list-unstyled">
            <li>
                <a href="@Url.Action()">БМ-1</a>
            </li>
        </ul>
    </li>
    <li>
        Бусад мэдээ
        <ul class="list-unstyled">
            <li>
                <a href="@Url.Action()">БМ-1</a>
            </li>
        </ul>
    </li>
</ul>
