@model System.Xml.Linq.XElement
@{
    ViewBag.Title = "NM6";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}
<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>НМ-6. Төрийн аудитын газрын тайлант хугацаанд аудитаар илрүүлсэн алдаа, зөрчлийн шийдвэрлэлтийн нэгтгэл</h4>
</div>
<hr class="sidebar-divider">
<div class="table-responsive">
    <table class="table table-bordered datatable display" style="width:100%">
        <thead>
            <tr style="background-color:#D2D3D5;">
                <th rowspan="3" class="text-center">№</th>
                <th rowspan="3">Аудитын код</th>
                <th rowspan="3">Аудитын нэр</th>
                <th colspan="6">Илрүүлэлт</th>
                <th colspan="2" rowspan="2">Залруулсан алдаа</th>
                <th colspan="2" rowspan="2">Залруулагдаагүй алдаа, зөрчлийн дүн</th>
                <th colspan="12">Үүнээс: Залруулагдаагүй алдаа, зөрчлийн шийдвэрлэлт</th>
            </tr>
            <tr>
                <th colspan="2">Зөрчил</th>
                <th colspan="2">Алдаа</th>
                <th colspan="2">Бүгд</th>
                <th colspan="2">Тогтоосон төлбөрийн акт</th>
                <th colspan="2">Өгсөн албан шаардлага</th>
                <th colspan="2">Өгсөн зөвлөмж</th>
                <th colspan="2">Албан тушаалтанд хариуцлага тооцуулах санал</th>
                <th colspan="2">Хууль хяналтын байгууллагад шилжүүлсэн асуудал</th>
                <th colspan="2">Бусад</th>
            </tr>
            <tr>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
                <th>Тоо</th>
                <th>Дүн</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script>
        initDataTable();
    </script>
} 