@model List<Audit.Models.Department>
@using Audit.Models
@{
    var albas = Model.Select(s => new SelectListItem() { Text = s.DEPARTMENT_NAME, Value = s.DEPARTMENT_ID.ToString() });

    //var aimags = Role.hasAdminRole(User)?
    //    Model.Where(a => a.ID.ToString() == User.GetClaimData("AlbaID")).Select(s => new SelectListItem() { Text = s.Name, Value = s.ID.ToString() }) :
    //    Model.Select(s => new SelectListItem() { Text = s.Name, Value = s.ID.ToString() });
}

<div class="form-group padding-xs">
    @Html.DropDownList("ddAlba", albas, "--Алба нэгж--", new { @class = "form-control input-sm" })
</div>

