@using Audit.Models
@model Audit.Models.OrgVM


<div class="row mb-2">
    <div class="col-12" id="OrgList">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered datatable display" id="Auditorganizationlist" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">№</th>
                                <th>Аудитад хамрагдагчийн нэр</th>
                                <th>Регистрийн дугаар</th>
                                <th>Байгуулагдсан огноо</th>
                                <th>Байгуулагын төрөл</th>
                                <th>Мэдээллийн эх үүсвэр</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>

        $(document).ready(function () {
            orgListInit();
        })
        var table;
        function orgListInit(pagelength = 10) {
            table = $("#Auditorganizationlist").DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    url: "/api/service/AuditOrgList",
                    type: 'POST',
                    data: function (data) {
                        data.BUDGET_LEVEL_ID = $('#BUDGET_LEVEL_ID').val();
                        return data;
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).attr('data-id', data.ORG_ID);
                },
                //"columnDefs": [
                //    { "type": "case-sensitive", targets: 0 }],
                "columns": [
                    {
                        "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ORG_LEGAL_NAME", "name": "ORG_LEGAL_NAME" },
                    { "data": "ORG_REGISTER_NO", "name": "ORG_REGISTER_NO" },
                    { "data": "ORG_REG_DATE", "name": "ORG_REG_DATE" },
                    { "data": "PROPERTY_TYPE_NAME", "name": "PROPERTY_TYPE_NAME" },
                    { "data": "SOURCE_TYPE_NAME", "name": "SOURCE_TYPE_NAME" },
                    
                ],
                "destroy": true,
                "scrollCollapse": true,
                "paging": true,
                "pageLength": pagelength,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "filter": true,
                "info": true,
                "stateSave": false,
                "bAutoWidth": false,
                lengthChange: true,
                "language": datatables.language

            });
        }
        $('#status').multiselect({
            nonSelectedText: "Сонгоно уу",
            buttonClass: 'form-control form-control-sm',
            onChange: function (option, checked, select) {
                orgListInit();
            }
        });
        $('#violation').multiselect({
            nonSelectedText: "Сонгоно уу",
            buttonClass: 'form-control form-control-sm',
            onChange: function (option, checked, select) {
                orgListInit();
            }
        });
        $('#DeparmentID').change(function () {
            orgListInit();
        });
        $('#PARENT_BUDGET_ID').change(function () {
            orgListInit();
        });
        $('#BudgetTypeID').change(function () {
            orgListInit();
        });
        $('#BUDGET_LEVEL_ID').change(function () {
            orgListInit();
        });

        function exportFile(tableid, excelname,) {
            $('#exportXLSX').prop('disabled', true);
            table.destroy();
            orgListInit(-1);

            setTimeout(function () {
                var wb = XLSX.utils.table_to_book(document.getElementById(tableid));
                XLSX.writeFile(wb, excelname + '.xlsx');

                table.destroy();
                orgListInit();
                $('#exportXLSX').prop('disabled', false);
                }, 5000
            )
        }

    </script>
}
