@using Audit.Models
@model Audit.Models.OrgVM

<form method="post" id="FilterForm">
    <div class="d-flex flex-wrap mb-2">
        <div class="form-group-sm pr-2">
            <label for="LEGAL_STATUS_ID" class="col-form-label">Хариуцлагын хэлбэр:</label>
            @Html.DropDownListFor(model => model.LEGAL_STATUS_ID, Model.LegalStatuses.Select(m => new SelectListItem { Text = m.LEGAL_STATUS_NAME, Value = m.LEGAL_STATUS_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>

        <div class="form-group-sm pr-2">
            <label for="PROPERTY_TYPE_ID" class="col-form-label">Өмчийн хэлбэр:</label>
            @Html.DropDownListFor(model => model.PROPERTY_TYPE_ID, Model.PropertyTypes.Select(m => new SelectListItem { Text = m.PROPERTY_TYPE_NAME, Value = m.PROPERTY_TYPE_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>

        <div class="form-group-sm pr-2">
            <label for="SOURCE_TYPE_ID" class="col-form-label">Мэдээллийн эх үүсвэр:</label>
            @Html.DropDownListFor(model => model.SOURCE_TYPE_ID, Model.SourceTypes.Select(m => new SelectListItem { Text = m.SOURCE_TYPE_NAME, Value = m.SOURCE_TYPE_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>


    </div>
</form>
<div class="row mb-2">
    <div class="col-12" id="OrgList">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered datatable display" id="Auditorganizationlist" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">№</th>
                                <th>Аудитад хамрагдагчийн нэр</th>
                                <th>Регистрийн дугаар</th>
                                <th>Хариуцлагын хэлбэр</th>
                                <th>Өмчийн хэлбэр</th>
                                <th>Байгуулагдсан огноо</th>
                                <th>Мэдээллийн эх үүсвэр</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>

        $(document).ready(function () {
            orgListInit();
        })
        var table;
        function orgListInit(pagelength = 10) {
            table = $("#Auditorganizationlist").DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    url: "/api/service/AuditOrgList",
                    type: 'POST',
                    data: function (data) {
                        data.LEGAL_STATUS_ID = $('#LEGAL_STATUS_ID').val();
                        data.PROPERTY_TYPE_ID = $('#PROPERTY_TYPE_ID').val();
                        data.SOURCE_TYPE_ID = $('#SOURCE_TYPE_ID').val();
                        return data;
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).attr('data-id', data.ORG_ID);
                },
                //"columnDefs": [
                //    { "type": "case-sensitive", targets: 0 }],
                "columns": [
                    {
                        "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ORG_LEGAL_NAME", "name": "ORG_LEGAL_NAME" },
                    { "data": "ORG_REGISTER_NO", "name": "ORG_REGISTER_NO" },
                    { "data": "LEGAL_STATUS_NAME", "name": "LEGAL_STATUS_NAME" },
                    { "data": "PROPERTY_TYPE_NAME", "name": "PROPERTY_TYPE_NAME" },
                    { "data": "ORG_REG_DATE", "name": "ORG_REG_DATE" },
                    { "data": "SOURCE_TYPE_NAME", "name": "SOURCE_TYPE_NAME" },
                    
                ],
                "destroy": true,
                "scrollCollapse": true,
                "paging": true,
                "pageLength": pagelength,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "filter": true,
                "info": true,
                "stateSave": false,
                "bAutoWidth": false,
                lengthChange: true,
                "language": datatables.language

            });
        }
        $('#LEGAL_STATUS_ID').change(function () {
            orgListInit();
        });
        $('#PROPERTY_TYPE_ID').change(function () {
            orgListInit();
        });
        $('#SOURCE_TYPE_ID').change(function () {
            orgListInit();
        });


        function exportFile(tableid, excelname,) {
            $('#exportXLSX').prop('disabled', true);
            table.destroy();
            orgListInit(-1);

            setTimeout(function () {
                var wb = XLSX.utils.table_to_book(document.getElementById(tableid));
                XLSX.writeFile(wb, excelname + '.xlsx');

                table.destroy();
                orgListInit();
                $('#exportXLSX').prop('disabled', false);
                }, 5000
            )
        }

    </script>
}
