@{ 
    Layout = null;
}
<div class="input-group input-group-sm mb-3">
    <input type="text" name="vsearch" id="vsearch" class="form-control" placeholder="Нэр, регистр">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="searchBtn"><i class="fa fa-search"></i> Хайх</button>
    </div>
</div>
<div id="datalist">

</div>
<script>
    $('#vsearch').keypress(function (e) {
        console.log('ss');
        if (e.which == 13) {
            $('#searchBtn').click();
            return false;    //<---- Add this line
        }
    });
    $("#searchBtn").unbind().click(function () {
        $.ajax({
            url: "@Url.Action("DataList", "Home", new { Area = "" })",
            type: 'POST',
            data: { vsearch: $("#vsearch").val() },
            success: function (data, status, xhr) {
                $("#datalist").html(data);
                initDataTableFeatureDisabled();
            },
            error: errorResponse,
            beforeSend: function () {
                Modal.show();
            },
            complete: function () {
                Modal.hide();
            }
        });
    });
</script>