
<div id="ListBKHTModal" class="modal fade bs-example-modal-lg modal-lvl1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" style="max-width:40%;margin: 0 auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">ТӨСВИЙН ЕРӨНХИЙ ЗАХИРАГЧИЙН ЖАГСААЛТЫН ТҮҮХ</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#fff;">x</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">

                        <table id="bm0list2020" class="table table-sm table-bordered table-hover" style="width:100%">

                            <tr class="text-center table-header-footer">

                                <td class="p-3 mb-2 bg-info text-white">Шалгагдагч байгууллагын нэр</td>
                                <td class="p-3 mb-2 bg-info text-white">Регистрийн дугаар</td>

                            </tr>


                            <tr>
                                <td class="text-center">1</td>
                                <td>Нэр</td>

                            </tr>

                           
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
