@model System.Xml.Linq.XElement

@if (Model.Elements("MenuList").Count() != 0)
{
    foreach (var i in Model.Elements("MenuList"))
    {
        <li class="nav-item active">
            <a class="nav-link" href="@i.Element("MENU_ROUTE").Value?menuid=@i.Element("MENU_ID").Value">
                <i class="fas fa-fw fa-file-alt"></i>
                <span>@i.Element("MENU_NAME").Value</span>
            </a>
        </li>
        <hr class="sidebar-divider">
    }
}
<!--<li class="nav-item active">
    <a class="nav-link" href="@Url.Action("Index", "Shilendans")">
        <i class="fas fa-fw fa-paste"></i>
        <span>Шилэн данс</span>
    </a>
</li>-->
<!-- Divider -->
<!--<hr class="sidebar-divider">-->
<!-- Nav Item - Tables -->
<!--<li class="nav-item active">
    <a class="nav-link" href="@Url.Action("Index", "Statistic")">
        <i class="fas fa-fw fa-table"></i>
        <span>Статистик</span>
    </a>
</li>-->
<!-- Divider -->
<!--<hr class="sidebar-divider">-->
