
@if (User.IsInRole("Admin"))
{
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index", "Home")">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>Бүртгэл</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
}

@if (User.IsInRole("Dans"))
{
    <!-- Nav Item - Charts -->
    <li class="nav-item active">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-file"></i>
            <span>Шилэн данс</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

}

@if (User.IsInRole("Stat"))
{
    <!-- Nav Item - Tables -->
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index", "Statistic")">
            <i class="fas fa-fw fa-table"></i>
            <span>Статистик</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
}

