@using Audit.Models
@model Audit.Models.OrgVM
@using Audit.App_Func
@{
    var budget_type = Model.budgetTypes.Select(c => new
    {
        ID = c.BUDGET_TYPE_ID,
        Name = c.BUDGET_TYPE_NAME
    }).ToList();
    Model.BudgetType = new MultiSelectList(budget_type, "ID", "Name");

}
<form method="post" id="FilterForm">
    <div class="d-flex flex-wrap mb-2">
        @if (User.GetClaimData("DepartmentID") == "2" || User.GetClaimData("DepartmentID") == "101")
        {
            <div class="form-group-sm pr-2">
                <label for="DeparmentID" class="col-form-label">Алба:</label>
                @Html.DropDownListFor(model => model.DeparmentID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
        }
        @*<div class="form-group-sm pr-2">
                <label for="StatusID" class="col-form-label">ТЕЗ/ ТТЗ/ ТШЗ:</label><br />
                @Html.ListBoxFor(model => model.BudgetTypeIDs, Model.BudgetType, new { id = "BudgetType" })
        </div>*@
    </div>
</form>
<div class="row mb-2">
    <div class="col-12" id="OrgList">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered datatable display" id="organizationlist" style="width:100%">
                        <thead style="background-color:#f8f9fc;">
                            <tr>
                                <th class="text-center">№</th>
                                <th>ТЕЗ</th>
                                <th width="5%">ТТЗ/ТЕЗ</th>
                                <th width="20%">Харъяа аудитын байгууллагын нэр</th>
                                <th width="25%">Шалгагдагч байгууллага, /иргэн, хуулийн этгээд/ нэр</th>
                                <th>Регистрийн дугаар</th>
                                <th width="9%">Маягт1 / Маягт4</th>
                                <th class="text-center">Мэдээлэл оруулсан эсэх</th>
                                <th class="text-center">Баримт хэвлэсэн эсэх</th>
                                <th>Мэдээлэл оруулсан аудитор</th>
                                <th>Мэдээлэл оруулсан өдөр</th>
                                <th width="15%">Шилэн данс</th>
                            </tr>
                            @*<th>МАЯГТ 1</th>
                                <th>МАЯГТ 4</th>
                                <th>МАЯГТ 6</th>*@
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {
            orgListInit();
        })
        var table;
        function orgListInit(pagelength = 10) {
                table = $("#organizationlist").DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    url: "/api/service/mirrororglist",
                    type: 'POST',
                    data: function (data) {
                        data.DeparmentID = $('#DeparmentID').val();
                        data.budget_type = $('#BudgetType').val();
                        return data;
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).attr('data-id', data.OPEN_ID);
                },

                "columns": [
                    {
                        "data": null, "sortable": false, "class": 'text-center', "type": "lower-letter",
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "BUDGET_SHORT_NAME", "name": "BUDGET_SHORT_NAME" },
                    { "data": "OPEN_ENT_BUDGET_PARENT", "name": "OPEN_ENT_BUDGET_PARENT" },
                    { "data": "DEPARTMENT_NAME", "name": "DEPARTMENT_NAME" },
                    { "data": "OPEN_ENT_NAME", "name": "OPEN_ENT_NAME" },
                    { "data": "OPEN_ENT_REGISTER_NO", "name": "OPEN_ENT_REGISTER_NO", "sortable": false },
                    { "data": "MAYGT", "name": "MAYGT" },
                    { "data": "IS_FINISHED", "name": "IS_FINISHED", "class": 'text-center',
                        render: function (data, type, row, meta) {
                            if (data === 1) { return "<i class='fa fa-check-square' style='color: #28a745;vertical-align: middle;'></i>"; } else { return "<i class='fa fa-times-circle' style='color: #858796;vertical-align: sub;'></i>"; }
                        }
                    },
                    {"data": "IS_PRINTED", "name": "IS_PRINTED","class": 'text-center',
                        render: function (data, type, row, meta) {
                            if (data === 1) { return "<i class='fa fa-check-square' style='color: #28a745;vertical-align: middle;'></i>"; } else { return "<i class='fa fa-times-circle' style='color: #858796;vertical-align: sub;'></i>"; }
                        }
                    },
                    //{
                    //    "data": "TAB3_IS_FINISH", "class": 'text-center', "width": '8%',
                    //    render: function (data, type, row, meta) {
                    //        if (data === 1) { return "<i class='fa fa-check-square' style='color: #28a745;vertical-align: sub;'></i>"; } else { return "<i class='fa fa-times-circle' style='color: #858796;vertical-align: sub;'></i>"; }
                    //    }
                    //},
                    /*{ "data": "ORG_CODE", "name": "ORG_CODE" },*/
                    { "data": "USER_NAME", "name": "USER_NAME" },
                    { "data": "INSERTDATE", "name": "INSERTDATE" },
                    { "data": null, "sortable": false, "class": 'text-center', "width": '10%',
                        render: function (data, type, row, meta) {
                                return '<div class="btn-group">' +
                                    '<a class="btn btn-sm" href="#" onclick="Organization.edit(' + data.OPEN_ID + ')" style="vertival-align:middle;color: #4e73df;">' +
                                    '<i class="fa fa-edit"></i> Оруулах' +
                                    '</a>' +
                                    '</div>';
                        }
                    }
                ],
                "destroy": true,
                "scrollCollapse": true,
                "paging": true,
                "pageLength": pagelength,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "filter": true,
                "info": true,
                "stateSave": false,
                "bAutoWidth": false,
                lengthChange: true,
                "language": datatables.language

            });
        }
        $('#BudgetType').multiselect({
            nonSelectedText: "Сонгоно уу",
            buttonClass: 'form-control form-control-sm',
            onChange: function (option, checked, select) {
                orgListInit();
            }
        });
        $('#violation').multiselect({
            nonSelectedText: "Сонгоно уу",
            buttonClass: 'form-control form-control-sm',
            onChange: function (option, checked, select) {
                orgListInit();
            }
        });
        $('#DeparmentID').change(function () {
            orgListInit();
        });
        var Organization = {
        OpenID:null,
        display: function (data) {
            $("div#orgmodalcontainer").remove();
            $('<div/>', { id: "orgmodalcontainer" }).appendTo('body').append(data);

            $("#OrgModal").modal({ show: true });
        },
        loadTemplate: function () {
                $.ajax({
                        url: "@Url.Action("AddShilenDans", "Shilendans", new { Area = "" })",
                        type: 'GET',
                        success: function (data) {
                            Organization.display(data);
                        },
                        error: errorResponse,
                        beforeSend: function () {
                            Modal.show();
                        },
                        complete: function () {
                            Modal.hide();
                        }
                    });
            },
        edit: function (openid) {
                $.ajax({
                    url: "@Url.Action("OrgDetail", "Shilendans", new { Area = "" })",
                    type: 'GET',
                    data: { openid },
                    success: function (data, status, xhr) {
                        Organization.progressResponse(data, status, xhr);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
            },
        //close: function () {
        //    $("#OrgModal").modal("hide");
        //},
        progressResponse: function (data, status, xhr) {
            var ct = xhr.getResponseHeader("content-type") || "";
            if (ct.indexOf("html") > -1) {
                Organization.display(data);
            }
            if (ct.indexOf('json') > -1) {
                if (data.error) {
                    Message.error(data.message);
                } else {
                    //$('.modal-backdrop:first').remove()
                    //Organization.close();
                    //orgListInit();
                    Message.success(data.message);
                    //$('#OrgModal').modal('show');
                }
            }
          }
        }

    </script>
}
